* {
    display: flex;
    flex-direction: column;
    padding: 10px 10px 10px 10px;
    background-image: '/src/app/assets/beer-img.avif';
}

h1 {
    position: relative;
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 40px;
    color: #080808;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;

}

.one h1 {
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 50px;
    padding-top: 20px;
}

.one h1:before {
    width: 28px;
    height: 5px;
    display: block;
    content: "";
    position: absolute;
    bottom: 3px;
    left: 50%;
    margin-left: -14px;
    margin-right: -14px;
    background-color: #b80000;
}

.one h1:after {
    width: 100px;
    height: 1px;
    display: block;
    content: "";
    position: relative;
    margin-top: 25px;
    left: 50%;
    margin-left: -50px;
    background-color: #b80000;
}

.menu {
    padding: 10px;
    text-align: center;
    border: 3px solid green;
}
